---
---

@import "{{ site.theme }}";
@import "blog";

img[src*='#left'] {
    float: left;
    max-width: 200px;
    margin-right: 24px;
    margin-bottom: 48px;
}

.txtright {
    overflow: hidden;
    margin-bottom: 48px;
}
